<app-header></app-header>
<div class="col-xs-12">
    <div class="row text-center top-buffer">
        <button type="button" class="btn btn-lg btn-danger">Breda</button>
        <!-- <img
        src="https://www.sprangers.nl/web/files/modules/news//origineel/10888.jpg"
        alt="kiekje"
        class="img-responsive"
        style="max-width: 250px;"> -->
    </div>

    <div class="row text-center top-buffer">
        <button type="button" class="btn btn-lg btn-danger">'s-Hertogenbosch</button>
    </div>
    <div class="row text-center top-buffer">
        <button type="button" class="btn btn-lg btn-danger">Tilburg</button>
    </div>